
/* HEADER
======================================================== */
.header { background-color: #fff; box-shadow: 0 1px 3px rgba(0,0,0,0.12),0 1px 2px rgba(0,0,0,0.24); position: relative; z-index: 1000; display: inline-block; width: 100%; float: left;
    .brand { float: left; margin-left: 20px; display: block; font-size: 0; background-size: cover; background-repeat: no-repeat; background-position: center center;
             @media only screen and (max-width: 40em) {   background-image: url("images/brand/brand-small.svg"); height: 47px; width: 37px; margin-top: 6px;   }
             @media only screen and (min-width: 40.0625em) and (max-width: 64em) {  background-image: url("images/brand/brand-medium.svg"); width: 132px; height: 47px; margin-top: 6px;  }
             @media only screen and (min-width: 64.0625em) {  background-image: url("images/brand/brand-large.svg"); width: 382px; height: 55px; background-size: 100%;   }
           }

    .navigation_main { float: right; margin-right: 20px;
            &__list-primary { list-style: none; margin: 0;
                &__item { display: inline-block; margin-left: -4px; }
                &__link { padding: 10px; display: inline-block; color: #4E5E65; }
            }
           @media only screen {  display: none;  }
           @media only screen and (min-width: 64.0625em) {   display: inline-block;  }

          .menu{ margin: 0; list-style-type: none; }
          .menu-item a{}
          .menu>li.menu-item  {  border-bottom: 4px solid  transparent}
          .menu>li.current-menu-item{
            border-bottom-color: $primary-color;
            > a { opacity: 1;}
          }
          .menu>li>a{
            transition: all 0.5s;
            height: 100%; padding: 1.4rem 1rem 1.2rem 1rem; text-transform: uppercase; color: #000; opacity: 0.6;
            &:hover{ opacity: 1;}
          }
      }



     .navigation_me {   float: right;
              &__list { list-style: none; margin: 0;
                &__item { display: inline-block; margin-left: -4px; border-left: 1px solid #ccc; }
                &__link { padding: 16px; display: inline-block;  color: #4E5E65;    vertical-align: middle;
                  &--register { font-size: 12px; background: #eee; padding: 3px 10px; border-radius: 2px; border: 1px solid #ccc;  margin: 10px 10px 10px 0;   }
                  &--login { font-size: 12px; }
                  &--user { line-height: auto;  font-size: 12px;
                    .user-gravatar { width: 20px;  margin-left: 5px;   }
                    .user-name { margin-left: 10px;    }
                  }
                }
              }
     }



} //end header
