
  /* DOWNLOAD
  ======================================================== */
    /*HERO*/


    .section_block__author-hero{ text-align: center; padding: 80px 0; background-color:#00223b; color:#fff ;
      h1 { font-weight: 300;   line-height: 3.4375rem; margin: 2rem 0 0rem 0;
        strong{font-weight: 800;}
      }
      h5 {  margin-top: 0; opacity: 0.5; margin-bottom: 20px; }
      p {   opacity: 0.7; }

      .brand{ width: 260px; max-width: 100%; }

    }
